* {
	box-sizing: border-box;
}
.cashMachine {
	display: flex;
	flex-flow: column wrap;
	gap: 1rem;
}
.lists {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
	gap: 1rem;
}
.goods__item {
	max-width: 450px;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	cursor: pointer;
}
.cart {
	display: flex;
	flex-flow: column nowrap;
	justify-content: space-between;
}
.cart__item {
	display: flex;
	justify-content: space-between;
	cursor: url('https://cdn-icons-png.flaticon.com/32/5703/5703835.png'), pointer;
}
