body {
	background: #252525;
	color: white;
	font-size: 30px;
	text-align: center;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
body #container {
	display: flex;
	flex-flow: column nowrap;
	height: 100vh;
	justify-content: center;
	align-items: center;
}
body #container .controls {
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	gap: 10px;
}
body #container .controls .sessionSwitch {
	width: 100px;
}
body #container button {
	transform: scale(2);
}
body #container button:hover {
	scale: 1.5;
}
body #container .main-title {
	font-size: 50px;
	margin-bottom: 20px;
}

body #container button {
	background: none;
	outline: none;
	border: none;
	color: white;
	cursor: pointer;
}

body #container .timer {
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: center;
	border: 7px solid black;
	margin: 20px auto;
	width: 270px;
	height: 160px;
	border-radius: 25px;
}
body #container .timer #time-left {
	font-family: digital;
	font-size: 80px;
}

@media screen and (max-width: 650px) {
	#container {
		transform: scale(0.8);
		-webkit-transform: scale(0.8);
		-moz-transform: scale(0.8);
		-ms-transform: scale(0.8);
		-o-transform: scale(0.8);
	}
	body #container .controls {
		flex-direction: column;
		gap: 20px;
		justify-content: center;
		align-items: center;
	}
}
