.App {
	max-width: 768px;
	margin: 0 auto;
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
}
h1 {
	margin-top: 50px;
	text-align: center;
}
.links {
	margin: 25px;
	padding: 25px;
	display: flex;
	flex-flow: row nowrap;
	gap: 20px;
	justify-content: space-between;
	background-color: rgba(54, 67, 91, 0.466);
	border-radius: 10px;
	font-size: 1.2rem;
}
.links a {
	text-decoration: unset;
	min-width: 120px;
}
.links a:hover {
	color: cornflowerblue;
}
